<header class="header">

  <div class="header-container">
    <a routerLink=""><img src="assets/img/logo.png" alt="logo" class="header__logo"></a>

    <div class="navbar">
      <app-navbar></app-navbar>
    </div>

    <div class="wrapper-search">
      <app-search></app-search>
    </div>
    <div *ngIf="authService.afAuth.user | async as user; else showLogin">
      <h1>Hello {{ user.displayName }}!</h1>
      <button (click)="authService.logout()">Logout</button>
    </div>
    <ng-template #showLogin>
      <p>Please login.</p>
      <button (click)="authService.login()">Login with Google</button>
    </ng-template>
    <div class="header__buttons">
<!--      <app-login-button></app-login-button>-->
<!--      <app-sign-up-button></app-sign-up-button>-->
    </div>
  </div>

</header>
