$search-color: #333;

.search-form{
  max-height: 45px;
  display: flex;
  width: 400px;

  &__input{
    max-width: 400px;
    height: 45px;
    width: 100%;
    border: none;
    background-color: $search-color;
    padding: 0 10px;
    color: white;
    font-size: 16px;
  }
  &__button{
    border: none;
  }
  &__img{
    max-width: 20px;
    height: 100%;
    background-color: $search-color;
    padding: 0 5px;
  }
}
