<!--<section class="img-list" >-->
<!--  <div class="container">-->
<!--<app-loader *ngIf="loadingStatus$ | async"></app-loader>-->
<div
  class="search-results"
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="300"
  (scrolled)="onScrollDown()"
  class = "img-list"
>
  <div class="container">
    <a *ngFor="let image of images">
      <div class="img-list__item">
        <img routerLink="/images/{{image.id}}" [src]="image.url" [alt]="image.description" class="img-list__image">
      </div>
    </a>
  </div>

</div>
<!--    <cdk-virtual-scroll-viewport itemSize="10" >-->
<!--      <a *cdkVirtualFor="let image of images">-->
<!--        <div class="img-list__item">-->
<!--          <img routerLink="/images/{{image.id}}" [src]="image.urls.regular" [alt]="image.description" class="img-list__image">-->
<!--        </div>-->
<!--      </a>-->
<!--    </cdk-virtual-scroll-viewport>-->
<!--  </div>-->


<!--</section>-->
