$navbar-color: #d9d9d9;

.navbar{
  font-family: Nunito,Helvetica Neue,Helvetica,Arial,sans-serif;
  display: flex;

  &__item{
    color: $navbar-color;
    &:nth-child(2){
      margin-left: 20px;
    }
  }

}
