<div class="home">
  <div class="container">
    <div class="flex-item heading">
      <h1>
        <span class="heading-caption">Official Plugin</span>
        Unsplash
      </h1>
      <h2 class="sub-heading">Easily grab images from Unsplash.</h2>
      <div class="heading-buttons">
        <a href="https://github.com/BohemianCoding/unsplash-sketchplugin" class="git-btn btn">View on GitHub</a>
        <a href="https://github.com/BohemianCoding/unsplash-sketchplugin/releases/download/v1.0.2/unsplash.sketchplugin.zip" class="download-btn btn">Download Now</a>
      </div>
      <small>Requires Sketch 52 or newer.</small>
    </div>

    <div class="flex-item text">
      <h3>Great images are just one click away</h3>
      <p>With the Unsplash plugin, and Sketch 52’s new Data Supplier feature,
        you can easily get beautiful images straight to your layers.</p>
      <p>Use it from the toolbar Data icon, from the contextual menu for any layer,
        or even for Overrides using the Inspector.</p>
      <br>
      <h3>Make it quick, or make it custom</h3>
      <p>If you just need a random picture, choose the Random Photo option, and one
        of the images from the
        <a href="https://unsplash.com/collections/317099/unsplash-editorial" class="in-text-link">Unsplash Editorial collection</a>
        will be selected for you and placed in your document.</p>
      <p>Do you need something more specific? Choose Search Photo…, enter
        a keyword, and the first result for it will be used.</p>
      <p>In both cases, the size of your layer will be used as a hint for the picture orientation, so you’ll always
        get great looking images that match your layout (no more vertical photos in your horizontal hero images!).</p>
    </div>
  </div>
</div>

